{% extends 'layouts/layout.html' %}

{% load static %}

{% block title %}
{{ titulo }}
{% endblock title %}

{% block content %}
<div class="col-sm-10 offset-sm-1">                  
  <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex justify-content-between align-items-center">
          <h3 class="m-0 font-weight-bold text-primary">{{ titulo_pagina }}</h3>
          <a href="{% url 'base:pais-create' %}" class="btn btn-primary btn-sm">
              <i class="fas fa-plus"></i> Crear Nuevo País
          </a>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="paisesTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>País</th>
                          <th>ISO</th>
                          <th>Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for pais in paises %}
                      <tr>
                          <td>{{ pais.pais }}</td>
                          <td>{{ pais.iso }}</td>
                          <td class="text-center">
                            <a href="{% url 'base:pais-edit' pais.pk %}" class="btn btn-warning btn-sm" title="Editar">
                                <i class="fas fa-edit"></i>
                            </a>
                            <form  id="delete-form-{{pais.pk}}" action="{% url 'base:pais-delete' pais.pk %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger btn-sm confirmation" data-pk="{{ pais.pk }}"><i class="fas fa-trash"></i></button>
                            </form>
                            {% comment %} <button type="button" class="btn btn-danger btn-sm btn-delete" data-id="{{ pais.pk }}" title="Eliminar">
                                <i class="fas fa-trash"></i>
                            </button> {% endcomment %}
                            {% comment %} <a class="btn btn-warning btn-sm" href="{% url 'base:pais-edit' pais.pk %}"><i class="fas fa-edit"></i></a>
                            <form  id="delete-form-{{pais.pk}}" action="{% url 'base:pais-delete' pais.pk %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger btn-sm confirmation" data-pk="{{ pais.pk }}"><i class="fas fa-trash"></i></button>
                            </form> {% endcomment %}
                                {% comment %} <a class="btn btn-outline-danger btn-sm confirmation"  onclick="" href="{% url 'base:pais-delete' pais.pk %}"><i class="fas fa-trash"></i></a> {% endcomment %}
                        </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const dataTableOptions = {
        columnDefs: [
            { className: 'text-center', targets: [0,1,2] },
            { orderable: false, targets: [2]},
            { searchable: false, targets: [2] },
        ],
        // pageLength: 5,
        destroy: true,
        language: {
            decimal: "",
            emptyTable: "No hay registros",
            info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            infoEmpty: "Mostrando 0 to 0 of 0 Entradas",
            infoFiltered: "(Filtrado de _MAX_ total entradas)",
            infoPostFix: "",
            thousands: ",",
            lengthMenu: "Mostrar _MENU_ Entradas",
            loadingRecords: "Cargando...",
            processing: "Procesando...",
            search: "Buscar:",
            zeroRecords: "Sin resultados encontrados",
            paginate: {
                first: "Primero",
                last: "Ultimo",
                next: "Siguiente",
                previous: "Anterior"
            }
        }
    };

    $(document).ready(function() {
        $('#paisesTable').DataTable(dataTableOptions);

        // Manejador del botón de eliminación con SweetAlert2 y CSRF
        /*$(document).on('click', '.btn-delete', function() {
            var elementoId = $(this).data('id');
            var row = $(this).closest('tr'); // Obtener la fila para eliminarla de la tabla

            Swal.fire({
                title: '¿Estás seguro?',
                text: "¡No podrás revertir esto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminarlo!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `/pais/delete/${elementoId}`,
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}' // CSRF token aquí
                        },
                        dataType: 'json',
                        success: function(response) {
                            if (response.success) {
                                // Eliminar fila de la tabla
                                // table.row(row).remove().draw();
                                toastr.success(response.message);
                                row.remove().draw();
                                
                            } else {
                                toastr.error(response.message);
                            }
                        },
                        error: function(xhr, status, error) {
                            toastr.error('Error al intentar eliminar el país.');
                            console.error(xhr.responseText);
                        }
                    });
                }
            });
        });*/
    });
</script>
{% endblock %}