{% extends 'layouts/layout.html' %}

{% load static %}

{% block title %}
{{ titulo }}
{% endblock title %}

{% block content %}
<div class="col-sm-6 offset-sm-3 mt-4">
   <div class="card">
    <div class="card-title bg-light">
      <h3 class="text-left m-4 text-primary">{{ titulo_pagina  }}</h3>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="card-body">
          <div class="row form-group">
              <div class="col-sm-12 col-md-3">
                {{ form.pais.label }}
              </div>
              <div class="col-sm-12 offset-md-1 col-md-8">
                  {{ form.pais }}
              </div>
          </div>
          <div class="row form-group mt-4">
              <div class="col-sm-12 col-md-3">
                {{ form.iso.label }}
              </div>
              <div class="col-sm-12 offset-md-1 col-md-8">
                  {{ form.iso }}
              </div>
          </div>
        </div>

        <div class="card-footer">
          <div class="d-flex justify-content-end flex-wrap gap-2">
            <button type="submit" class="btn btn-info btn-sm">Guardar</button>
            <a href="{% url 'base:pais-index' %}"><button type="button" class="btn btn-danger btn-sm">Cancelar</button></a>
          </div>
        </div>
    </form>
  </div>
</div>

{% endblock content %}
